      header {
        display: flex;
        align-items: center;
      }
      .img-circle{
        border-radius: 50%;
        margin-right: 20px;
      }

      .text-color {
        color: red;
        font-size: 36px;
        text-shadow: 2px 2px 4px #000000;
      }

      .nav-style {
        margin-left: auto;
        text-align: right;
        margin-top: 10px;
      }

      nav a{
        margin-left: 5px;
      }

      @media (max-width: 600px) {
        header {
          flex-direction: column; /* Mobile screen အတွက် စာကြောင်းများကို အထူထူ အဖြစ် ပြောင်းရန် */
          align-items: flex-start; /* စာကြောင်းများကို ဘယ်ဘက်စီထားရန် */
        }
        img {
          margin-right: 0; /* Mobile မှာ အကွာအဝေးကို ဖျက်ရန် */
          margin-bottom: 10px; /* ပုံနဲ့ h1 အကြား အကွာအဝေး */
        }
      }
