h1{
    margin: 20px;
    padding: 20px;
}

p{
    margin-left: 20px;
    padding-left: 20px;
}
ol{
    margin-left: 30px;
}
.tag-name-color{
    font-weight: bold;
    color: red;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding-left: 0px;
    width: auto;
}

.text-white{
    color: white;
}

.text-red{
    color: red;
}

textarea{
    width: 50%;
    height: 150px;
    background-color: #1f1f1f;
    color: #fff;
    padding: 5px 5px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
}